body {
  margin: 0;
  padding: 40px 60px;
  font-size: 38px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #de00a5;
  font-weight: bold;
}

h1 {
  font-size: 56px;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  max-width: 100%;
}

.columns .column {
  width: 48%;
}
.next {
  margin-top: 80px;
  text-align: right;
}
ol li {
  margin-bottom: 14px;
  font-size: 1.2em;
}


.visually-hidden {
  position: absolute;
  left: -90000px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
.preview h1 {
  font-size: 4em;
  margin-top: 3em;
}
.preview h2 {
  font-size: 3em;
}
.preview .next {
  text-align: center;
}
.preview .next a {
  color: lightgrey;
}